@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");

$font: "Arimo", sans-serif;

$color-donkerblauw: #051738;
$color-blauw: #003559;
$color-wit: #efefef;

$color-bg-dark: #343f4f;
$color-txt-dark: #efefef;

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

// ************************************************************* BODY

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    transition-duration: $transition-duration;
    transition-delay: $transition-delay;
}

body,
html {
    width: 100%;
    height: 100%;

    background-color: $color-wit;
    color: black;
    overflow-x: hidden;
}

// ************************************************************* MENU

.container {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: $color-wit;
    overflow: hidden;
    margin-bottom: 100px;
    z-index: 2;
}

/* Toggle functionality */

// To hide the checkbox
#toggle {
    position: absolute;
    left: -100%;
    top: -100%;
}

#dark-mode {
    position: absolute;
    top: 10px;
    right: 90px;
    z-index: 3;

    background-color: transparent !important;
    color: $color-blauw;

    border: none;
    border-radius: 50%;

    width: 50px;
    height: 50px;

    font-size: 50px;
    font-weight: bold;
}

#logo {
    position: absolute;
    top: 12px;
    right: 25px;
    z-index: 3;
}

@media only screen and (max-width: 190px) {
    #logo {
        display: none;
    }

    #dark-mode {
        right: 10px;
    }
}

// Styles for the 'open' state, if the checkbox is checked
#toggle:checked {
    // Any element you need to change the style if menu is open goes here, using the sibling selector (~) as follows

    // Making the "X" icon using `:before` and `:after` pseudo-elements
    & ~ .toggle-container .button-toggle {
        &:before {
            transform: translateY(-50%) rotate(45deg) scale(1);
        }

        &:after {
            transform: translateY(-50%) rotate(-45deg) scale(1);
        }
    }

    // Open nav
    & ~ #nav-center {
        // text-align: center;

        .nav {
            margin-bottom: 100px;
            pointer-events: auto;
            transform: translate(0px, 50px);
            text-align: center;

            padding-left: 45%;

            // Restoring nav items from "lines" in the menu icon
            .nav-item {
                color: $color-donkerblauw;
                letter-spacing: 0;
                height: 40px;
                line-height: 40px;
                margin-top: 0;
                opacity: 1;
                transform: scaleY(1);
                transition: $transition-duration, opacity 0.1s;
                font-weight: bold;

                &:hover {
                    transition-duration: 0.02;
                    transform: scale(1.2);
                }

                // Setting delays for the nav items in open transition
                @for $i from 1 through $items {
                    &:nth-child(#{$i}) {
                        $delay: ($items - $i) * $transition-delay;
                        transition-delay: $delay;
                        &:before {
                            transition-delay: $delay;
                        }
                    }
                }

                // Hiding the lines
                &:before {
                    opacity: 0;
                }
            }
        }
    }
}

/* Toggle button */

.button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: $transition-duration + 0.1;

    // Shadow on hover
    &:hover {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), inset 0 0 0 20px rgba(255, 255, 255, 0.1);
    }

    // Making the "X" icon using `:before` and `:after` pseudo-elements
    // Initially hidden because `scale(0)` transformation

    &:before,
    &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-donkerblauw;
        border-radius: 5px;
        transition: $transition-duration;
    }

    &:before {
        transform: translateY(-50%) rotate(45deg) scale(0);
    }

    &:after {
        transform: translateY(-50%) rotate(-45deg) scale(0);
    }
}

/* Menu */

.nav {
    display: inline-block;
    margin: 25px 25px 20px;
    // Don't want pointer-events as menu is closed
    pointer-events: none;
    transition: $transition-duration;
}

// Showing nav items as lines, making up the hamburger menu icon
.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: $transition-duration, opacity 1s;

    // Setting delays for the nav items in close transition
    @for $i from 1 through $items {
        &:nth-child(#{$i}) {
            $delay: ($i - 1) * $transition-delay;
            transition-delay: $delay;
            &:before {
                transition-delay: $delay;
            }
        }
    }

    // Adjusting width for the first line
    &:nth-child(1) {
        letter-spacing: -4px;
    }

    // Adjusting width for the second line
    &:nth-child(2) {
        letter-spacing: -6px;
    }
    &:nth-child(3) {
        letter-spacing: -4.5px;
    }

    // Adjusting from the fourth element onwards
    &:nth-child(n + 4) {
        letter-spacing: -8px;
        margin-top: -7px;
        opacity: 0;
    }

    // Getting the lines for the hamburger menu icon
    &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-donkerblauw;
        transform: translateY(-50%) scaleY(5);
        transition: $transition-duration;
    }
}

@media screen and (max-width: 500px) {
    #toggle:checked {
        & ~ #nav-center {
            .nav {
                padding-left: 35%;
            }
        }
    }
}

@media screen and (max-width: 250px) {
    #toggle:checked {
        & ~ #nav-center {
            .nav {
                padding-left: 30%;
            }
        }
    }
}

// ************************************************************* CAROUSEL
.wrapper {
    display: flex;
    width: 100%;
    position: relative;

    margin-bottom: 100px;

    i {
        top: 50%;
        height: 44px;
        width: 44px;
        color: $color-wit;
        cursor: pointer;
        font-size: 1.15rem;
        position: absolute;
        text-align: center;
        line-height: 44px;
        background: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: transform 0.1s linear;
    }

    i:active {
        transform: translateY(-50%) scale(0.9);
    }

    i:hover {
        background: #f2f2f2;
    }

    i:first-child {
        left: 10px;
        display: none;
        background-color: $color-blauw;
    }

    i:last-child {
        right: 10px;
        background-color: $color-blauw;
    }

    .carousel {
        font-size: 0px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        padding: 0px 100px;

        a {
            margin-left: 14px;

            &:first-child {
                margin-left: 0px;
            }

            img {
                height: 400px;
                object-fit: cover;
                user-select: none;
                width: calc(100% / 3);
            }

            img:first-child {
                margin-left: 0px;
            }
        }
    }

    .carousel.dragging {
        cursor: grab;
        scroll-behavior: auto;

        a {
            pointer-events: none;

            img {
                pointer-events: none;
            }
        }
    }

    @media screen and (max-width: 900px) {
        .carousel a img {
            width: calc(100% / 2);
        }
    }

    @media screen and (max-width: 550px) {
        .carousel a img {
            width: 100%;
        }
        .carousel {
            padding: 0px 50px;
        }
    }
}
// ************************************************************* RECENT IMAGES

.recent-img-titel {
    color: $color-blauw;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

#recent-img {
    display: flex;

    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;

    .recent-img-wrap {
        width: 80%;
        height: 600px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin-bottom: 50px;
        }
    }
}

// ************************************************************* BOTTOM CSS

.dark-mode {
    background-color: $color-bg-dark !important;
    color: #efefef !important;
}

img {
    border-radius: 8px !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #003559 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #003559;
    border-radius: 13px;
    border: 3px solid #ffffff;
}
