@import url();
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  background-color: #efefef;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #efefef;
  overflow: hidden;
}

/* Toggle functionality */
#toggle {
  position: absolute;
  left: -100%;
  top: -100%;
}

#logo {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
}

@media only screen and (max-width: 120px) {
  #logo {
    display: none;
  }
}
#toggle:checked ~ .toggle-container .button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
}
#toggle:checked ~ .nav {
  margin-bottom: 100px;
  pointer-events: auto;
  transform: translate(50px, 50px);
  text-align: center;
  padding-left: 33.33%;
}
#toggle:checked ~ .nav .nav-item {
  color: #051738;
  letter-spacing: 0;
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s, opacity 0.1s;
  font-weight: bold;
}
#toggle:checked ~ .nav .nav-item:hover {
  transition-duration: 0.02;
  transform: scale(1.2);
}
#toggle:checked ~ .nav .nav-item:nth-child(1) {
  transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1):before {
  transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2) {
  transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2):before {
  transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3) {
  transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3):before {
  transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4) {
  transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4):before {
  transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}

/* Toggle button */
.button-toggle {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.6s;
}
.button-toggle:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), inset 0 0 0 20px rgba(255, 255, 255, 0.1);
}
.button-toggle:before, .button-toggle:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #051738;
  border-radius: 5px;
  transition: 0.5s;
}
.button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(0);
}
.button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(0);
}

/* Menu */
.nav {
  display: inline-block;
  margin: 25px 25px 20px;
  pointer-events: none;
  transition: 0.5s;
}

.nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: 0.5s, opacity 1s;
}
.nav-item:nth-child(1) {
  transition-delay: 0s;
}
.nav-item:nth-child(1):before {
  transition-delay: 0s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.05s;
}
.nav-item:nth-child(2):before {
  transition-delay: 0.05s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.1s;
}
.nav-item:nth-child(3):before {
  transition-delay: 0.1s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.15s;
}
.nav-item:nth-child(4):before {
  transition-delay: 0.15s;
}
.nav-item:nth-child(1) {
  letter-spacing: -4px;
}
.nav-item:nth-child(2) {
  letter-spacing: -6px;
}
.nav-item:nth-child(3) {
  letter-spacing: -4.5px;
}
.nav-item:nth-child(n+4) {
  letter-spacing: -8px;
  margin-top: -7px;
  opacity: 0;
}
.nav-item:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #051738;
  transform: translateY(-50%) scaleY(5);
  transition: 0.5s;
}

.slider {
  width: 100%;
}

.slider input {
  display: none;
}

.testimonials {
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}
.testimonials .item {
  width: 400px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #0a0220;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.testimonials .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 13px solid #3b344d;
}

.testimonials .item .testimonials .item p {
  color: #ddd;
}

.testimonials .item h2 {
  font-size: 14px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition-duration: 0.2s;
}

#t-1:checked ~ .dots label[for=t-1],
#t-2:checked ~ .dots label[for=t-2],
#t-3:checked ~ .dots label[for=t-3],
#t-4:checked ~ .dots label[for=t-4],
#t-5:checked ~ .dots label[for=t-5] {
  transform: scale(2);
  background-color: #fff;
}

#t-1:checked ~ .dots label[for=t-2],
#t-2:checked ~ .dots label[for=t-1],
#t-2:checked ~ .dots label[for=t-3],
#t-3:checked ~ .dots label[for=t-2],
#t-3:checked ~ .dots label[for=t-4],
#t-4:checked ~ .dots label[for=t-3],
#t-4:checked ~ .dots label[for=t-5],
#t-5:checked ~ .dots label[for=t-4] {
  transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for=t-3],
#t-2:checked ~ .testimonials label[for=t-4],
#t-3:checked ~ .testimonials label[for=t-5],
#t-4:checked ~ .testimonials label[for=t-1],
#t-5:checked ~ .testimonials label[for=t-2] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-1:checked ~ .testimonials label[for=t-2],
#t-2:checked ~ .testimonials label[for=t-3],
#t-3:checked ~ .testimonials label[for=t-4],
#t-4:checked ~ .testimonials label[for=t-5],
#t-5:checked ~ .testimonials label[for=t-1] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-2:checked ~ .testimonials label[for=t-1],
#t-3:checked ~ .testimonials label[for=t-2],
#t-4:checked ~ .testimonials label[for=t-3],
#t-5:checked ~ .testimonials label[for=t-4],
#t-1:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#t-3:checked ~ .testimonials label[for=t-1],
#t-4:checked ~ .testimonials label[for=t-2],
#t-5:checked ~ .testimonials label[for=t-3],
#t-2:checked ~ .testimonials label[for=t-5],
#t-1:checked ~ .testimonials label[for=t-4] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-1:checked ~ .testimonials label[for=t-1],
#t-2:checked ~ .testimonials label[for=t-2],
#t-3:checked ~ .testimonials label[for=t-3],
#t-4:checked ~ .testimonials label[for=t-4],
#t-5:checked ~ .testimonials label[for=t-4],
#t-5:checked ~ .testimonials label[for=t-5] {
  z-index: 4;
}

@media only screen and (max-width: 450px) {
  .testimonials {
    margin: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 300px;
    perspective: 1000px;
    overflow: hidden;
  }
  .testimonials .item {
    width: 300px;
    height: 250px;
    padding: 30px;
    border-radius: 5px;
    background-color: #0a0220;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .testimonials .item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: 13px solid #3b344d;
  }
}/*# sourceMappingURL=Home.css.map */