@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

:root {
    --donkerblauw--: #051738;
    --blauw--: #003559;
    --wit--: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: var(--wit--);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

#logo {
    position: relative;
}

#logo img {
    position: absolute;
    width: 125px;
    top: 0px;
    right: 20px;
}   

.titel {
    text-align: center;
    padding-top: 120px;
    color: var(--donkerblauw--);
    font-family: 'Arimo', sans-serif;
    font-size: 100px;
}

.container {
    padding-top: 100px;   
    width: 100%;
    text-align: center;
}

.wrap {
    width: auto;
}

.wrap .label {
    text-align: start;
}

.label {
    font-size: 80px;
    color: var(--blauw--);
    font-family: 'Arimo', sans-serif;
}

.input {
    height: 80px;
    width: 800px;
    border-radius: 0px;
    border: var(--blauw--) 1px solid;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.input::placeholder {
    font-size: 25px;
}

.login-knop {
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 20px;
    moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.knop {
    text-align: center;
}

.login-knop:hover {
    background-position: 100% 0;
    moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    letter-spacing: 5px;
    transform: scale(1.05);
}

.login-knop:focus {
    outline: none;
}

.login-knop.color-1 {
    background-image: linear-gradient(to right, #00465f, #0263a0, #006d95, #007aab);
    box-shadow: 0 4px 15px 0 rgb(0, 79, 119);
}

.invalid-feedback {
    font-family: 'Arimo', sans-serif;
    color: rgb(180, 0, 0);
    font-size: 25px;
}

.alert-danger {
    font-family: 'Arimo', sans-serif;
    color: rgb(180, 0, 0);
    font-size: 25px;
}










/* code */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: var(--wit--);
}

img {
    max-width: 100%;
    display: block;
}

#logo {
    position: relative;
}
#logo img {
    position: absolute;
    width: 45px;
    top: 0px;
    right: 10px;
}

.titel {
    text-align: center;
    padding-top: 50px;
    color: var(--donkerblauw--);
    font-family: 'Arimo', sans-serif;
    font-size: 40px;
}

.container {
    padding-top: 100px;   
    width: 100%;
    text-align: center;
}

.wrap {
    width: auto;
}

.wrap .label {
    text-align: start;
}

.label {
    font-size: 28px;
    color: var(--blauw--);
    font-family: 'Arimo', sans-serif;
    
}

.input {
    height: 40px;
    width: 370px;
    border-radius: 0px;
    border: var(--blauw--) 1px solid;
    padding: 5px;
}

.login-knop {
    padding: 16px;
    font-size: 20px;
    border-radius: 5px;
    border: var(--blauw--);
    color: var(--wit--);
    background-color: var(--blauw--);
    font-family: 'Arimo', sans-serif;
    transition: ease-in-out 0.2s;
}

.knop {
    text-align: center;
}

.login-knop:hover {
    transform: scale(1.05);
} */